/* .paper {
    min-height: 100px;
} */

.grid-container {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: auto auto auto auto;
    grid-gap: 10px; */
    background-color:#F4A4A4;
    padding: 10px;
  }

  .grid-container > div {
    text-align: center;
    padding: 20px 0;
  }

  .leftside {
    float: left;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    height: 100%;
    background-color: #ffb3b3;
  }

  .childinfo {
      flex-direction: column;
      width: auto;
      flex-grow: 1;
      background-color: #ffb3b3;
  }
