.login-container {
    background-image: url("/images/swings.png");
    height: 1500px;
    width: 1500px;
    background-repeat: no-repeat;
    /* object-fit: contain; */
    background-size: cover;
  }

