.login-container {
    background-image: url("/images/babywithtoys.png");
    background-repeat: no-repeat;
    object-fit: scale-down;
    background-size: cover;
    min-height: 100vh;
    opacity: 0.85;
  }

