.newchildform {
    background-color: #dbd5d5;
    display: inline-block;
    margin: 20px auto;
    padding: 25px;
    margin-left: 445px;
    border-radius: 2px;
    text-align: center;
}

.title {
    text-align: center;
}