.nav-title {
    font-size: 27px;
    font-weight: 700;
    display: inline-block;
    color: #323131;
    padding-left: 60px;
}

.nav {
  overflow: hidden;
  background-color: #f98b88;
}

.nav-link {
  float: left;
  color: inline-block;
  color: #323131;
  background-color: #f98b88;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  font-size: 21px;
  padding: 10px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #F96060;
}

.nav-right {
  float: right;
  padding-right: 60px;
}